@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div id="controlUnit" class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary" data-action="rock"><i class="far fa-hand-rock fa-3x fa-fw"></i></button>
        <button type="button" class="btn btn-outline-primary" data-action="paper"><i class="far fa-hand-paper fa-3x fa-fw"></i></button>
        <button type="button" class="btn btn-outline-primary" data-action="scissors"><i class="far fa-hand-scissors fa-3x fa-fw"></i></button>
        <button type="button" class="btn btn-outline-primary" data-action="lizard"><i class="far fa-hand-lizard fa-3x fa-fw"></i></button>
        <button type="button" class="btn btn-outline-primary" data-action="spock"><i class="far fa-hand-spock fa-3x fa-fw"></i></button>
    </div>
}
    else
    {
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>If you want to play a test game, <a href="~/Identity/Account/Register">register</a> or <a href="~/Identity/Account/Login">log in</a>.</p>
    </div>
    }

